<div id="body">
  <div id = "Head">
    <div id = "name" [routerLink]="'/bookStore'">
      <p style="color: #F78DA7; width: auto;">TCC</p>
      <p style="color: #999; width: auto;">Chỉ cần bạn cần chúng tôi có</p>
    </div>
    <div id = "cate">
      <div style="width: 20%; height: auto; float: left; margin-left: 3%;">
        <h3 style="float: left; margin-left: 6%">Tất cả thể loại</h3>
        <img style="width: 8%; transform: rotate(90deg); margin-left: 14%;" alt="error" src="assets/icon/More.svg" (click)="clickMoreCategory()">
        <div id = "more" [ngStyle]="changeMore()">
          <p></p><br>
          <div *ngFor="let item of datasCategory">
            <a><h3 (click)="clickCategory(item.name ?? ''); clickMoreCategory()">{{item.name}}</h3></a><br>
          </div>
        </div>
      </div>
      <input [(ngModel)]="inputValue" type="text" placeholder="Tìm kiếm sách">
      <img alt="error" src="assets/icon/Search.svg" style="margin-right: 1%;" (click)="newListBook()">
      <button style="position: absolute; left: 84%; transform: translateX(-16%)" (click)="clickCart()">Giỏ hàng</button>
      <button style="float: right" (click)="clickLogin()" [ngStyle]="lastLogin1()">Đăng nhập</button>
      <button style="color: #d35810; display: none; float: right" [ngStyle]="lastLogin2()" *ngIf="dataAccount"  (click)="clickUser()">{{dataAccount.name}}</button>
      <div style="width: 12%; height: auto; position: absolute; top: 87%; left: 93%; transform: translate(-7%, -13%); background-color: #ED2874FF; text-align: center; padding: 1rem" [ngStyle]="changeLogout()">
        <div id = "setting" (click)="isSetUser = true; clickUser()">Cài đặt</div><br>
        <div id = "logout" (click)="clickLogout()">Đăng xuất</div>
      </div>
    </div>
  </div>
  <button style="color: #ED2874; position: absolute; top: 5%; right: 5%; display: none; width: 8rem;" [ngStyle]="buy()" [routerLink]="'/orderTerm'">Đơn mua ></button>
  <div id = "nav">
    <div class="listBook">
      <div style="background-color: rgb(243, 188, 188); height: 100%;" *ngFor="let item of datasBook" (click)="sendBookContent(item)">
        <div style=" width: 100%; height: 75%; background-color: #f5dede; border-bottom: 1px dashed #fa1474; ">
          <img src="{{item.image}}" alt="error">
        </div>
        <h3>{{item.title}}</h3><br>
        <div>
          <p style="color: #6e6464; text-decoration: line-through; float: left; margin-left: 4%">{{item.cost}}VND</p>
          <p style="float: left; margin-left: 4%; background-color: #fcbcbc; color: red; border-radius: 0.2rem">-{{item.sale}}%</p>
          <p style="color: #DB1037; float: right; margin-right: 4%">{{(item.cost ?? 0) - ((item.cost ?? 0) * (item.sale ?? 0) / 100)}}VND</p><br>
        </div>
        <div>
          <p style="margin-top: 5%">Đã bán {{item.follow}}</p>
        </div>
      </div>
    </div>
    <button style="color: #ED2874; position: absolute; bottom: 2rem; right: 0;" (click)="clickMore()"><p>Xem thêm ></p></button>
    <button style="color: #ED2874; position: absolute; bottom: 2rem; left: 0;" (click)="clickLast()"><p>< Quay lại</p></button>
    <ul class="pagination">
      <li (click)="selectPage(1)"  [class.active]="count === 0"><<</li>
      <li *ngFor="let page of getVisiblePages()" [class.active]="page === count + 1" (click)="selectPage(page)">
        {{ page }}
      </li>
      <li *ngIf="count < totalPages - 3">...</li>
      <li (click)="selectPage(totalPages)"  [class.active]="totalPages === count + 1">{{totalPages}}</li>
      <li style="margin-right: 0" (click)="selectPage(totalPages)"  [class.active]="totalPages === count + 1">>></li>
    </ul>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section about">
          <h2>TTC</h2>
          <p>CHỉ cần bạn cần chúng tôi có</p><br>
          <ul class="socials">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </div>
        <div class="footer-section links">
          <h2>Liên Kết Hữu Ích</h2>
          <ul>
            <li><a href="#">Trang Chủ</a></li>
            <li><a href="#">Dịch Vụ</a></li>
            <li><a href="#">Sản Phẩm</a></li>
            <li><a href="#">Liên Hệ</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2024 TTC. Bảo lưu mọi quyền.
    </div>
  </footer>
  <div id="login" [ngStyle]="changeLogin()">
    <form>
      <img alt="error" src="assets/icon/close.svg" (click)="clickLogin()">
      <h2 style="float: left; margin: 2%; text-decoration: underline; text-decoration-color: #ED2874; text-underline-offset: 0.5rem;">Chào mừng trở lại</h2><br>
      <div style="margin-top: 10%; position: absolute; left: 50%; transform: translateX(-50%); width: 100%; height: auto;">
        <h3 style="margin-left: 5%">Email đăng nhập</h3><br>
        <input [(ngModel)]="inputValueEmail" type="text" name="userName" placeholder="Email đăng nhập"><br>
        <h3 style="margin-left: 5%">Mật khẩu</h3>
        <input [(ngModel)]="inputValuePass" type="text" name="password" placeholder="Mật khẩu"><br>
        <input style="width: 20%; float: right; margin-right: 5%" type="submit" value="Đăng nhập" (click)="clickLoginPost()"><br>
        <p style="margin-right: 5%" (click)="clickNewUser(); clickLogin()">Đăng ký tài khoản mới?</p>
      </div>
    </form>
  </div>
  <div id="newUser" [ngStyle]="changeNewUser()">
    <form>
      <img alt="error" src="assets/icon/close.svg" (click)="clickNewUser()">
      <h2 style="float: left; margin: 2%; text-decoration: underline; text-decoration-color: #ED2874; text-underline-offset: 0.5rem;">Đăng ký tài khoản mới</h2><br>
      <div style="margin-top: 10%; position: absolute; left: 50%; transform: translateX(-50%); width: 100%; height: auto;">
        <h3 style="margin-left: 5%">Tên đăng nhập</h3>
        <input [(ngModel)]="inputValueName" type="text" name="userName" placeholder="Tên đăng nhập"><br>
        <h3 style="margin-left: 5%">Email đăng nhập</h3>
        <input [(ngModel)]="inputValueAddEmail" type="text" name="Email" placeholder="Email đăng nhập"><br>
        <h3 style="margin-left: 5%">SĐT liên hệ</h3>
        <input style="float: none" [(ngModel)]="inputValuePhone" type="text" name="Phone" placeholder="SĐT liện hệ"><br>
        <h3 style="margin-left: 5%">Địa chỉ</h3>
        <input [(ngModel)]="inputValueAddress" type="text" name="address" placeholder="Địa chỉ"><br>
        <h3 style="margin-left: 5%; float: none">Mật khẩu</h3>
        <input [(ngModel)]="inputValueAddPass" type="text" name="password" placeholder="Mật khẩu"><br>
        <input style="width: 20%; float: right; margin-right: 5%" type="submit" value="Đăng ký" (click)="clickAddUser();  clickNewUser(); clickLogin()"><br>
      </div>
    </form>
  </div>
  <div id = "setUser" [ngStyle]="changeSetUser()">
    <img alt="error" src="assets/icon/close.svg" (click)="isSetUser = false">
    <h2 style="float: left; margin: 2%; text-decoration: underline; text-decoration-color: #ED2874; text-underline-offset: 0.5rem">Sửa thông tin tài khoản</h2>
    <div style="margin-top: 10%; position: absolute; left: 50%; transform: translateX(-50%); width: 100%; height: 88%">
      <h3 style="margin-left: 5%">Tên đăng nhập</h3>
      <input [(ngModel)]="userName" type="text" placeholder="{{dataAccount?.name}}"><br>
      <h3 style="margin-left: 5%">Email đăng nhập</h3>
      <input [(ngModel)]="userEmail" type="text" placeholder="{{dataAccount?.email}}"><br>
      <h3 style="margin-left: 5%">SĐT liên hệ</h3>
      <input style="float: none" [(ngModel)]="userPhone" type="text" placeholder="{{dataAccount?.phone}}"><br>
      <h3 style="margin-left: 5%">Địa chỉ</h3>
      <input [(ngModel)]="userAddress" type="text" placeholder="{{dataAccount?.address}}"><br><br><br>
      <h3 style="margin-left: 5%;">Mật khẩu cũ</h3>
      <input [(ngModel)]="passOld" type="text" placeholder="Mật khẩu cũ"><br><br><br>
      <h3 style="margin-left: 5%;">Mật khẩu mới</h3>
      <input [(ngModel)]="passNew" type="text" placeholder="Mật khẩu mới">
      <div style="width: 45%; height: 8%; position: absolute; left: 50%; transform: translateX(-50%); bottom: 1%">
        <button style="float: left; width: 34%; height: 100%; border-radius: 1rem; background-color: #ED2874FF; color: white" (click)="setUser()">Lưu</button>
        <button style="float: right; width: 34%; height: 100%; border-radius: 1rem; background-color: #ED2874FF; color: white" (click)="clickSetting()">Bỏ</button>
      </div>
    </div>
  </div>
  <div id = "Mess" [ngStyle]="changeMess()">
    <img alt="error" src="assets/icon/close.svg" (click)="clickCloseMess()">
    <h2 style="text-decoration: underline; text-decoration-color: #ED2874; text-underline-offset: 0.5rem; position: absolute; left: 50%; transform: translateX(-50%); top: 6%">Thông báo</h2>
    <h3 style="position: absolute; left: 50%; top: 55%; transform: translate(-50%, -45%); text-align: center">{{mess1}}</h3>
  </div>
</div>
