<div style="width: 16%; height: 100%; z-index: 100; background-color: #57445A; color: white; position: fixed; left: 0px; top: 0%; padding-top: 6%; text-align: center">
  <a style="color: white; text-decoration: none" [routerLink]="'/manageUser'"><h3>Quản lý tài khoản</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/manageBook'"><h3>Quản lý sách</h3></a><br>
  <a><h3 style="color: red;" (click)="clickManageStorage()">Quản lý kho</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/manageMess'"><h3>Quản lý thông báo</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/manageStyle'"><h3>Quản lý thể loại</h3></a><br>
  <a><h3>Quản lý doanh thu</h3></a><br>
</div>
<div id="body">
  <div id = "Head">
    <div id = "name">
      <p style="color: #F78DA7; width: auto;">TCC</p>
      <p style="color: #999; width: auto;">Chỉ cần bạn cần chúng tôi có</p>
    </div>
    <div id = "categori">
      <input [(ngModel)]="inputValue" type="text" placeholder="Tìm kiếm kho">
      <img alt="error" src="assets/icon/Search.svg" style="margin-right: 1%;" (click)="clickSearch()">
      <button style="color: #d35810; padding-left: 3.4rem; float: right" *ngIf="admin"  (click)="clickUser()"><h2>{{admin.name}}</h2></button>
      <div style="width: 12%; height: auto; position: absolute; top: 90%; right: 0; transform: translateY(-10%); background-color: #ED2874FF; text-align: center; padding: 1rem; z-index: 10;" [ngStyle]="changeLogout()">
        <div id = "setting">Cài đặt</div><br>
        <div id = "logout" [ngStyle]="changeLogout()" (click)="clickLogout()" [routerLink]="'/bookStore'">Đăng xuất</div>
      </div>
    </div>
  </div>
  <div id = "search">
    <div style="width: 18%; position: absolute; top: 50%; transform: translateY(-50%); right: 16%">
      <h3 style="float: left; margin-right: 1%">{{statusStorage}}</h3>
      <img style="width: 7%; transform: rotate(90deg)" alt="error" src="assets/icon/More.svg" (click)="clickMoreStatus()">
    </div>
    <button style="background-color: #ED2874; color: white; width: 10%; height: 100%; position: absolute; right: 0" (click)="selectStorage()">Tìm kiếm</button>
  </div>
  <div id = "moreStatus" [ngStyle]="changeMoreStatus()">
    <p></p><br>
    <div *ngFor="let item of listStatus">
      <h3 (click)="selectStatus(item.status); clickMoreStatus()">{{item.status}}</h3><br>
    </div>
  </div>
  <div id = "nav">
    <div style="display: grid; grid-template-columns: 50% 50%; width: 100%; height: 80%; margin-top: 6%;">
      <div class="storage" *ngFor="let item of datasStorage">
        <div style="position: absolute; top: 40%" (click)="sendContentStorage(item)">
          <h1>{{item.phone}}</h1>
          <h2>{{item.location}}</h2>
        </div>
        <div style="position: absolute; top: 62%; left: 50%; transform: translateX(-50%); width: 55%">
          <h2 style="float: left">Trạng thái:</h2>
          <input style="padding-top: 1.8%; font-weight: bold; font-size: larger; width: 38%; float: left; color: #7a7979" #input type="text" name="status" placeholder="{{item.status}}">
        </div>
        <button style="position: absolute; top: 78%; left: 50%; transform: translateX(-50%); color: rgb(3, 52, 167); border: none; font-size: large; font-weight: 600;" (click)="changeStorage(item, input.value)">Lưu</button>
      </div>
      <div class="storage">
        <div>
          <button (click)="clickNewStorage()">+</button>
        </div>
      </div>
      <button style="color: #F78DA7; position: absolute; right: 0; bottom: 2%" (click)="clickMore()"><h3>Xem thêm ></h3></button>
      <button style="color: #F78DA7; position: absolute; left: 0; bottom: 2%" (click)="clickLast()"><h3>< Quay lại</h3></button>
    </div>
    <ul class="pagination">
      <li (click)="selectPage(1)"  [class.active]="count === 0">Trang đầu</li>
      <li *ngFor="let page of getVisiblePages()" [class.active]="page === count + 1" (click)="selectPage(page)">
        {{ page }}
      </li>
      <li *ngIf="count < totalPages - 3">...</li>
      <li style="margin-right: 0" (click)="selectPage(totalPages)"  [class.active]="totalPages === count + 1">{{ totalPages }}</li>
    </ul>
  </div>
  <div id = "moreStorage" [ngStyle]="changeAddStorage()">
    <form>
      <img alt="error" src="assets/icon/close.svg" (click)="clickNewStorage()">
      <div style="margin-top: 10%; position: absolute; left: 5%; width: 90%; height: auto;">
        <h3>SĐT</h3>
        <input [(ngModel)]="storageName" type="text" name="nameStorage" placeholder="Số điện thoại liên hệ"><br>
        <h3>Địa chỉ</h3>
        <input [(ngModel)]="storageAddress" type="text" name="address" placeholder="Địa chỉ"><br>
        <div style="width: 42%; position: absolute; left: 50%; transform: translateX(-50%); height: 20%; top: 100%">
          <button style="width: 46%; height: 100%; float: left; margin: 0; border-radius: 5rem; border-style: solid; border-color: #a4a4a4;" (click)="addNewStorage(); clickNewStorage()">Lưu</button>
          <button style="width: 46%; height: 100%; float: right; margin: 0; border-radius: 5rem; border-style: solid; border-color: #a4a4a4;" (click)="clickNewStorage()">Bỏ</button>
        </div>
      </div>
    </form>
  </div>
  <div id = "Mess" [ngStyle]="changeMess()">
    <img alt="error" src="assets/icon/close.svg" (click)="clickCloseMess()">
    <h2 style="text-decoration: underline; text-decoration-color: #ED2874; text-underline-offset: 0.5rem; position: absolute; left: 50%; transform: translateX(-50%); top: 6%">Thông báo</h2>
    <h3 style="position: absolute; left: 50%; top: 55%; transform: translate(-50%, -45%); text-align: center">{{mess}}</h3>
  </div>
</div>
