<div id="body">
  <div id = "Head">
    <div id = "name" [routerLink]="'/bookStore'">
      <p style="color: #F78DA7; width: auto;">TCC</p>
      <p style="color: #999; width: auto;">Chỉ cần bạn cần chúng tôi có</p>
    </div>
    <div id = "cate">
      <h3 style="float: left; padding-left: 3%;">Tất cả thể loại</h3>
      <img style="width: 1.5%; transform: rotate(90deg); margin: auto 4%;" alt="error" src="assets/icon/More.svg" (click)="clickMore()">
      <input [(ngModel)]="inputValue" type="text" placeholder="Tìm kiếm sách">
      <img alt="error" src="assets/icon/Search.svg" style="margin-right: 1%;" (click)="sendInputValue()">
      <button (click)="send('Giỏ hàng')">| Giỏ hàng |</button>
      <button (click)="clickLogin()" [ngStyle]="lastLogin1()">Đăng nhập</button>
      <button style="color: #d35810; display: none" [ngStyle]="lastLogin2()" *ngIf="dataAccount"  (click)="clickUser()">{{dataAccount.name}}</button>
    </div>
  </div>
  <div id = "logout" [ngStyle]="changeLogout()" (click)="clickLogout()" [routerLink]="'/bookStore'">Đăng xuất</div>
  <div id = "more" [ngStyle]="changeMore()">
    <p></p><br>
    <div *ngFor="let item of datasCategory">
      <a (click)="sendByCategory(item)"><h3>{{item.name}}</h3></a><br>
    </div>
  </div>
  <div id = "nav">
    <div *ngIf="book">
      <div id = "image">
        <img id="favoriteImage" alt="error" src="{{book.image}}"><br><br>
        <button style="width: 4.8rem; height: 3rem; background-color: #ED2874; border: none; border-radius: 10px; color: white; float: left;" (click)="clickSaveCart(book)">Lưu</button>
        <button style="width: 6.8rem; height: 3rem; background-color: #ED2874; border: none; border-radius: 10px; color: white; "  (click)="sendToBuy(book)">Mua truyện</button>
      </div>
      <div style="width: 70%; height: 100%; position: absolute; right: 0px">
        <h1 style="color: #78330C; margin-top: 6%;">{{book.title}}</h1><br>
        <div style="position: absolute; left: 2%; width: 50rem; height: auto">
          <h3 style="color: #78330C; position: fixed; top: 36%">Tác giả: {{book.author}}</h3><br><br>
          <h3 style="color: #78330C; float: left">Nội dung: </h3>
          <div style="width: 100%; height: auto; float: none">
            <h3>{{book.content}}</h3><br>
          </div>
          <h3 style="color: #78330C; position: fixed; bottom: 40%">Lượt mua: {{book.follow}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div id = "footer">
    <h3>Chào mừng đến hiệu sách của chúng tôi</h3>
  </div>
  <div id="login" [ngStyle]="changeLogin()">
    <form>
      <img alt="error" src="assets/icon/close.svg" (click)="clickLogin()">
      <h2 style="float: left; margin: 2%; text-decoration: underline; text-decoration-color: #ED2874; text-underline-offset: 10px;">Chào mừng trở lại</h2><br>
      <div style="margin-top: 10%; position: absolute; left: 5%; width: 90%; height: auto;">
        <h3>Email đăng nhập</h3>
        <input [(ngModel)]="inputValueEmail" type="text" name="userName" placeholder="Email đăng nhập"><br>
        <h3>Mật khẩu</h3>
        <input [(ngModel)]="inputValuePass" type="text" name="password" placeholder="Mật khẩu"><br>
        <input style="width: 20%; float: right;" type="submit" value="Đăng nhập" (click)="clickLoginPost()"><br>
        <p (click)="clickNewUser(); clickLogin()">Đăng ký tài khoản mới?</p>
      </div>
    </form>
  </div>
  <div id="newUser" [ngStyle]="changeNewUser()">
    <form>
      <img alt="error" src="assets/icon/close.svg" (click)="clickNewUser()">
      <h2 style="float: left; margin: 2%; text-decoration: underline; text-decoration-color: #ED2874; text-underline-offset: 10px;">Đăng ký tài khoản mới</h2><br>
      <div style="margin-top: 10%; position: absolute; left: 5%; width: 90%; height: auto;">
        <h3>Tên đăng nhập</h3>
        <input [(ngModel)]="inputValueName" type="text" name="userName" placeholder="Tên đăng nhập"><br>
        <h3>Email đăng nhập</h3>
        <input [(ngModel)]="inputValueAddEmail" type="text" name="Email" placeholder="Email đăng nhập"><br>
        <h3>SĐT liên hệ</h3>
        <input [(ngModel)]="inputValuePhone" type="text" name="Phone" placeholder="SĐT liện hệ"><br>
        <h3>Địa chỉ</h3>
        <input [(ngModel)]="inputValueAddress" type="text" name="address" placeholder="Địa chỉ"><br>
        <h3>Mật khẩu</h3>
        <input [(ngModel)]="inputValueAddPass" type="text" name="password" placeholder="Mật khẩu"><br>
        <input style="width: 20%; float: right;" type="submit" value="Đăng ký" (click)="clickAddUser();  clickNewUser(); clickLogin()"><br>
      </div>
    </form>
  </div>
</div>
