<div style="width: 16%; height: 100%; z-index: 100; background-color: #57445A; color: white; position: fixed; left: 0px; top: 0%; padding-top: 6%; text-align: center">
  <a style="color: white; text-decoration: none" [routerLink]="'/manageUser'"><h3>Quản lý tài khoản</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/manageBook'"><h3>Quản lý sách</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/manageStorage'"><h3>Quản lý kho</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/manageMess'"><h3>Quản lý thông báo</h3></a><br>
  <a><h3 style="color: red;" (click)="clickManageStyle()">Quản lý thể loại</h3></a><br>
  <a><h3>Quản lý doanh thu</h3></a><br>
</div>
<div id="body">
  <div id = "Head">
    <div id = "name">
      <p style="color: #F78DA7; width: auto;">TCC</p>
      <p style="color: #999; width: auto;">Chỉ cần bạn cần chúng tôi có</p>
    </div>
    <div id = "categori">
      <input [(ngModel)]="inputSearch" type="text" placeholder="Tìm kiếm thể loại">
      <img alt="error" src="assets/icon/Search.svg" style="margin-right: 1%;" (click)="clickSearch()">
      <button style="color: #d35810; float: right" *ngIf="admin" (click)="clickUser()"><h2>{{admin.name}}</h2></button>
      <div style="width: 12%; height: auto; position: absolute; top: 90%; right: 0; transform: translateY(-10%); background-color: #ED2874FF; text-align: center; padding: 1rem; z-index: 10;" [ngStyle]="changeLogout()">
        <div id = "setting">Cài đặt</div><br>
        <div id = "logout" [ngStyle]="changeLogout()" (click)="clickLogout()" [routerLink]="'/bookStore'">Đăng xuất</div>
      </div>
    </div>
  </div>
  <div id = "nav">
    <button style="color: #F78DA7; margin-bottom: 2%; float: right;" (click)="clickMorefirst()"><h3>Xem thêm ></h3></button>
    <button style="color: #F78DA7; margin-bottom: 2%; float: left;" (click)="clickLast()"><h3>< Quay lại</h3></button>
    <div style="display: grid; grid-template-columns: 50% 50%; width: 100%; height: 80%; margin-top: 6%">
      <div class="storage" *ngFor="let item of dataCategory">
        <div>
          <h1 (click)="sendContentCategory(item)">{{item.name}}</h1>
          <br>
          <h2 style="float: left;">Khuyến mãi:</h2>
          <input #input type="text" name="sale" [placeholder]="item.sale" style="font-size: large; font-weight: 600; margin-top: 1.5%; color: #7a7979; float: left; width: 14%">
          <h2>%</h2>
        </div>
        <button style="position: absolute; bottom: 18%; font-size: large; font-weight: 600; color: rgb(3, 52, 167);" (click)="updateCategory(item, input.value)">Lưu</button>
      </div>
    </div>
    <div style="width: 50px; height: 50px; border-radius: 100px; border: 3px #ED2874 solid;position: fixed; bottom: 0%; left: 50%; transform: translateX(-50%);" (click)="clickMore()">
      <button style="position: absolute; top: 40%; left: 50%; transform: translateX(-50%);">+</button>
    </div>
  </div>
  <div id = "moreStorage" [ngStyle]="changeMoreStorage()">
    <form>
      <img alt="error" src="assets/icon/close.svg" (click)="clickMore()">
      <div style="margin-top: 10%; position: absolute; left: 5%; width: 90%; height: auto;">
        <h3>Tên thể loại</h3>
        <input [(ngModel)]="inputName" type="text" name="style" placeholder="Tên thể loại"><br>
        <h3>Khuyến mãi</h3>
        <input [(ngModel)]="inputSale" type="text" name="sale" placeholder="Khuyến mãi"><br>
        <input style="width: 20%; float: right;" type="submit" value="Lưu" (click)="saveNewCategory(); clickMore()"><br>
      </div>
    </form>
  </div>
</div>
