<div style="width: 16%; height: 100%; z-index: 100; background-color: #57445A; color: white; position: fixed; left: 0px; top: 0%; padding-top: 6%; text-align: center">
  <a style="color: white; text-decoration: none" [routerLink]="'/manageUser'"><h3>Quản lý tài khoản</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/manageBook'"><h3>Quản lý sách</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/manageStorage'"><h3>Quản lý kho</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/manageMess'"><h3>Quản lý thông báo</h3></a><br>
  <a><h3 style="color: red;" (click)="clickManageStyle()">Quản lý thể loại</h3></a><br>
  <a><h3>Quản lý doanh thu</h3></a><br>
</div>
<div id="body">
  <div id = "Head">
    <div id = "name">
      <p style="color: #F78DA7; width: auto;">TCC</p>
      <p style="color: #999; width: auto;">Chỉ cần bạn cần chúng tôi có</p>
    </div>
    <div id = "categori">
      <input [(ngModel)]="inputSearch" type="text" placeholder="Tìm kiếm thể loại">
      <img alt="error" src="assets/icon/Search.svg" style="margin-right: 1%;" (click)="clickSearch()">
      <button style="color: #d35810; float: right" *ngIf="admin" (click)="clickUser()"><h2>{{admin.name}}</h2></button>
      <div style="width: 12%; height: auto; position: absolute; top: 90%; right: 0; transform: translateY(-10%); background-color: #ED2874FF; text-align: center; padding: 1rem; z-index: 10;" [ngStyle]="changeLogout()">
        <div id = "setting">Cài đặt</div><br>
        <div id = "logout" [ngStyle]="changeLogout()" (click)="clickLogout()" [routerLink]="'/bookStore'">Đăng xuất</div>
      </div>
    </div>
  </div>
  <div id = "nav">
    <div style="display: grid; grid-template-columns: 50% 50%; width: 100%; height: 70%; margin-top: 6%">
      <div class="storage" *ngFor="let item of dataCategory">
        <div>
          <h1 (click)="sendContentCategory(item)">{{item.name}}</h1>
          <br>
          <h2 style="float: left;">Khuyến mãi:</h2>
          <input #input type="text" name="sale" [placeholder]="item.sale" style="font-size: large; font-weight: 600; margin-top: 1.5%; color: #78330C; float: left; width: 14%">
          <h2>%</h2>
        </div>
        <button style="position: absolute; bottom: 18%; font-size: large; font-weight: 600; color: rgb(3, 52, 167); left: 50%; transform: translateX(-50%)" (click)="updateCategory(item, input.value); input.value = ''">Lưu</button>
      </div>
    </div>
    <button style="color: #F78DA7; margin-bottom: 2%; float: right;" (click)="clickMorefirst()"><h3>Xem thêm ></h3></button>
    <button style="color: #F78DA7; margin-bottom: 2%; float: left;" (click)="clickLast()"><h3>< Quay lại</h3></button>
    <div style="width: 10%; height: 6%; background-color: #ED2874; position: absolute; bottom: 6%; left: 50%; transform: translateX(-50%);" (click)="clickMore()">
      <button style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #ED2874; color: white">Thêm</button>
    </div>
    <ul class="pagination">
      <li (click)="selectPage(1)"  [class.active]="count === 0">Trang đầu</li>
      <li *ngFor="let page of getVisiblePages()" [class.active]="page === count + 1" (click)="selectPage(page)">
        {{ page }}
      </li>
      <li *ngIf="count < totalPages - 3">...</li>
      <li style="margin-right: 0" (click)="selectPage(totalPages)"  [class.active]="totalPages === count + 1">{{ totalPages }}</li>
    </ul>
  </div>
  <div id = "moreStorage" [ngStyle]="changeMoreStorage()">
    <form>
      <img alt="error" src="assets/icon/close.svg" (click)="clickMore()">
      <div style="margin-top: 10%; position: absolute; left: 5%; width: 82%; height: auto;">
        <h3>Tên thể loại</h3>
        <input [(ngModel)]="inputName" type="text" name="style" placeholder="Tên thể loại"><br>
        <h3>Khuyến mãi</h3>
        <input [(ngModel)]="inputSale" type="text" name="sale" placeholder="Khuyến mãi"><br>
      </div>
    </form>
    <div style="width: 36%; height: 14%; position: absolute; left: 50%; transform: translateX(-50%); bottom: 9%">
      <button style="height: 100%; width: 46%; float: left; border-radius: 5rem; border-style: solid; border-color: #a4a4a4;" (click)="saveNewCategory(); clickMore()">Lưu</button>
      <button style="height: 100%; width: 46%; float: right; border-radius: 5rem; border-style: solid; border-color: #a4a4a4;" (click)="clickMore()">Bỏ</button>
    </div>
  </div>
  <div id = "Mess" [ngStyle]="changeMess()">
    <img alt="error" src="assets/icon/close.svg" (click)="clickCloseMess()">
    <h2 style="text-decoration: underline; text-decoration-color: #ED2874; text-underline-offset: 0.5rem; position: absolute; left: 50%; transform: translateX(-50%); top: 6%">Thông báo</h2>
    <h3 style="position: absolute; left: 50%; top: 55%; transform: translate(-50%, -45%); text-align: center">{{mess}}</h3>
  </div>
</div>
