<div style="width: 16%; height: 100%; z-index: 100; background-color: #57445A; color: white; position: fixed; left: 0; top: 0; padding-top: 6%; text-align: center" [ngStyle]="changWeb()">
  <a style="color: white; text-decoration: none" [routerLink]="'/manageUser'"><h3>Quản lý tài khoản</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/manageBook'"><h3>Quản lý sách</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/manageStorage'"><h3>Quản lý kho</h3></a><br>
  <a><h3 style="color: red;" (click)="clickManageMess()">Quản lý thông báo</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/manageStyle'"><h3>Quản lý thể loại</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/manageAuthor'"><h3>Quản lý tác giả</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/managePay'"><h3>Quản lý đơn hàng</h3></a><br>
  <a style="color: white; text-decoration: none" [routerLink]="'/manageTurnover'"><h3>Quản lý doanh thu</h3></a><br>
</div>
<div id="body">
  <div id = "Head" [ngStyle]="changWeb()">
    <div id = "name">
      <p style="color: #F78DA7; width: auto;">TCC</p>
      <p style="color: #999; width: auto;">Chỉ cần bạn cần chúng tôi có</p>
    </div>
    <div id = "categori">
      <input [(ngModel)]="inputValue" type="text" placeholder="Tìm kiếm thông báo">
      <img alt="error" src="assets/icon/Search.svg" style="margin-right: 1%;" (click)="clickSearch()">
      <button style="color: #d35810; padding-left: 3.4rem; float: right" *ngIf="admin"  (click)="clickUser()"><h2>{{admin.name}}</h2></button>
      <div style="width: 12%; height: auto; position: absolute; top: 90%; right: 0; transform: translateY(-10%); background-color: #ED2874FF; text-align: center; padding: 1rem; z-index: 10;" [ngStyle]="changeLogout()">
        <div id = "setting" (click)="isSetUser = true; clickUser()">Cài đặt</div><br>
        <div id = "logout" [ngStyle]="changeLogout()" (click)="clickLogout()" [routerLink]="'/bookStore'">Đăng xuất</div>
      </div>
    </div>
  </div>
  <div id="search" [ngStyle]="changWeb()">
    <div style="position: absolute; top: 50%; transform: translateY(-50%); left: 0; width: 80%;">
      <h3 style="position: absolute; top: 50%; transform: translateY(-50%); left: 0">Thời gian gửi:</h3>
      <input [(ngModel)]="start" style="position: absolute; left: 40%; transform: translateX(-60%)" type="text" placeholder="Ngày đầu">
      <input [(ngModel)]="end" style="float: right" type="text" placeholder="Ngày cuối">
    </div>
    <button style="background-color: #ED2874; color: white; width: 10%; height: 50%; padding: 0.5%; position: absolute; top: 50%; right: 0; transform: translateY(-50%)" (click)="selectMess()">Tìm kiếm</button>
  </div>
  <div id = "nav" [ngStyle]="changWeb()">
    <table>
      <tr>
        <th>Email nhận</th>
        <th>Loại thông báo</th>
        <th>Nội dung thông báo</th>
        <th>Thời gian gửi</th>
      </tr>
      <tr *ngFor="let item of datasMess, let i = index">
        <td><p>{{item.email}}</p></td>
        <td><p>{{item.type}}</p></td>
        <td><p>{{item.content}}</p></td>
        <td><p>{{item.sent}}</p></td>
      </tr>
    </table>
    <button style="color: #F78DA7; position: absolute; right: 0; bottom: 8%"  (click)="clickMore()"><h3>Xem thêm ></h3></button>
    <button style="color: #F78DA7; position: absolute; left: 0; bottom: 8%"  (click)="clickLast()"><h3>< Quay lại</h3></button>
    <ul class="pagination">
      <li (click)="selectPage(1)"  [class.active]="count === 0"><<</li>
      <li *ngFor="let page of getVisiblePages()" [class.active]="page === count + 1" (click)="selectPage(page)">
        {{ page }}
      </li>
      <li *ngIf="count < totalPages - 3">...</li>
      <li (click)="selectPage(totalPages)"  [class.active]="totalPages === count + 1">{{totalPages}}</li>
      <li style="margin-right: 0" (click)="selectPage(totalPages)"  [class.active]="totalPages === count + 1">>></li>
    </ul>
    <div id="button">
      <button id="save" (click)="clickSend()">Gửi thông báo</button>
    </div>
  </div>
  <div id="send" [ngStyle]="changeSend()">
    <form>
      <img alt="error" src="assets/icon/close.svg" (click)="clickSend()">
      <div style="margin-top: 10%; position: absolute; left: 5%; width: 90%; height: auto;">
        <h3>Tiêu đề</h3>
        <input [(ngModel)]="valueTitle" type="text" name="title" placeholder="Tiêu đề"><br>
        <h3>Nội dung</h3>
        <input [(ngModel)]="valueContent" type="text" name="content" placeholder="Nội dung"><br>
        <input style="width: 20%; float: right;" type="submit" value="Gửi" (click)="sentNewMess(); clickSend()"><br>
      </div>
    </form>
  </div>
  <div id = "setUser" [ngStyle]="changeSetUser()">
    <img alt="error" src="assets/icon/close.svg" (click)="isSetUser = false">
    <h2 style="float: left; margin: 2%; text-decoration: underline; text-decoration-color: #ED2874; text-underline-offset: 0.5rem">Sửa thông tin tài khoản</h2>
    <div style="margin-top: 10%; position: absolute; left: 50%; transform: translateX(-50%); width: 100%; height: 88%">
      <h3 style="margin-left: 5%">Tên đăng nhập</h3>
      <input [(ngModel)]="userName" type="text" placeholder="{{admin?.name}}"><br>
      <h3 style="margin-left: 5%">Email đăng nhập</h3>
      <input [(ngModel)]="userEmail" type="text" placeholder="{{admin?.email}}"><br>
      <h3 style="margin-left: 5%">SĐT liên hệ</h3>
      <input style="float: none" [(ngModel)]="userPhone" type="text" placeholder="{{admin?.phone}}"><br>
      <h3 style="margin-left: 5%">Địa chỉ</h3>
      <input [(ngModel)]="userAddress" type="text" placeholder="{{admin?.address}}"><br><br><br>
      <h3 style="margin-left: 5%;">Mật khẩu cũ</h3>
      <input [(ngModel)]="passOld" type="text" placeholder="Mật khẩu cũ"><br><br><br>
      <h3 style="margin-left: 5%;">Mật khẩu mới</h3>
      <input [(ngModel)]="passNew" type="text" placeholder="Mật khẩu mới">
      <div style="width: 45%; height: 8%; position: absolute; left: 50%; transform: translateX(-50%); bottom: 1%">
        <button style="float: left; width: 34%; height: 100%; border-radius: 1rem; background-color: #ED2874FF; color: white" (click)="setUser()">Lưu</button>
        <button style="float: right; width: 34%; height: 100%; border-radius: 1rem; background-color: #ED2874FF; color: white" (click)="clickSetting()">Bỏ</button>
      </div>
    </div>
  </div>
  <div id = "Mess" [ngStyle]="changeMess()">
    <img alt="error" src="assets/icon/close.svg" (click)="clickCloseMess()">
    <h2 style="text-decoration: underline; text-decoration-color: #ED2874; text-underline-offset: 0.5rem; position: absolute; left: 50%; transform: translateX(-50%); top: 6%">Thông báo</h2>
    <h3 style="position: absolute; left: 50%; top: 55%; transform: translate(-50%, -45%); text-align: center">{{mess}}</h3>
  </div>
</div>
