*{
  margin: 0;
  padding: 0;
}

#body{
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  align-items: center;
  position: relative;
}

#Head{
  width: 70%;
  height: 20%;
  position: absolute;
  top: 10px;
  left: 65%;
  transform: translateX(-50%);
  z-index: 1;
}
#Head img{
  width: 2%;
  height: auto;
  float: left;
}
#name{
  float: left;
  text-align: left;
}
input{
  float: left;
  border: none;
  width: 35%;
  margin-left: 4%;
}
input:focus-visible{
  outline: none;
}
#categori{
  padding-top: 1.2%;
}
button{
  border: none;
  background-color: white;
}
#nav{
  width: 80%;
  height: 42rem;
  padding-top: 4.5%;
  position: absolute;
  left: 58%;
  transform: translateX(-50%);
}
table{
  width: 100%;
  height: auto;
}
tr{
  width: 100%;
  height: 3.2rem;
}
th, td {
  border: 3px solid #57445A;
  text-align: center;
}

td input{
  width: 90%;
  height: 2rem;
}
#button{
  width: 32%;
  height: 8%;
  margin-top: 2%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 90%;
}
#save{
  background-color: #ED2874;
  width: 40%;
  height: 100%;
  color: white;
}

#send{
  z-index: 100;
  position: fixed;
  top: 35%;
  left: 60%;
  transform: translateX(-50%);
  width: 40%;
  height: 35%;
  background-color: white;
  float: left;
  text-align: left;
  align-items: normal;
  border: 4px solid transparent;
  border-image: linear-gradient(to right, red, blue) 1;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: 0px 2px 2px 2px;
  display: none;
}
#send img{
  width: 5%;
  height: auto;
  float: right;
  margin: 2%;
}

#send input{
  margin-bottom: 5%;
  width: 92%;
  height: 30px;
  align-items: center;
  border-radius: 100px;
  border-style: solid;
  border-color: #a4a4a4;
}

#send p{
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: rgb(3, 52, 167);
}

#logout{
  background-color: #ED2874FF;
  color: white;
  padding-top: 1%;
  width: 10%;
  height: 2rem;
  position: absolute;
  top: 3rem;
  right: 6.8rem;
  z-index: 100;
  display: none;
}
